

img{
	max-width: 100%;
}


header{

background-color: #000000;
}
section{

}
section{
    background: #0e0ee0;
    margin: 0px;
    text-align: center;
}
.container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: #7783b2;
}
.logo{
    width: 20%;
    float: left;
}
.log a{}
.logo a img{
    height: 62px;
}
nav{
    width: 80%;
    float: right;
}
nav ul{
    text-align: left;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* margin: 0; */
    margin-top: 20px;
    margin-right: 12px;
}
nav ul li{
    /* display: inline-block; */
    /* float: right; */
}

nav ul a{
    font-size: 20px;
    padding: 16px;
    text-decoration: none;
    color: white;
}


nav ul a:hover{
	    color: #234ab0;

}
.container1{

width: 900px;

margin-left: auto;

margin-right: auto;

overflow: hidden;

padding-top: 52px;
}

.banner-section{/* display: none; */background-image: url(../images/hill.jpg);background-color: #0000007a;background-repeat: no-repeat;background-size: cover;background-blend-mode: overlay;}
.banner-content{
    text-align: center;
    display: block;
}

.banner-content a{}
.banner-content img{
    width: 721px;
    margin: auto;
    display: block;
}

.btn{
    /* background-color: blue; */
    padding: 7px 17px;
    color: #0f19f6;
    font-size: 14px;
    text-decoration: none;
    /* margin-bottom: 0px; */
    display: inline-block;
    border: 3px solid blue;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn:hover{
	color: white;
    background-color: #1a1aa4;
    transition: 0.3s;
}
h1{
	color: :red;
	font-size: 40px;
	color: #faf6f6;
	margin: 23px 0px;
}

.colum{

width: 33.33%;

float: left;

padding: 17px;

box-sizing: border-box;

/* text-shadow: 0px -2px 3px #050505; */

/* box-shadow: 0px 0px 6px black; */
}
h2{
	
font-size: 18px;
	
line-height: 10px;
	
margin: 17px;
}
.colum img{
    height: 92px;
    padding: 10px 0;
}
.colum btn{
}


.flex{
	disply:flex;
}


.service{
	
padding: 10px;
	
text-align: center;
	
box-shadow: 0px 0px 17px 12px #0000000d;
}